<div *ngIf="!loading" class="loading d-flex justify-content-center">
  <div class="spinner-border center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loading" class="box">
  <div *ngIf="!loading textBox"></div>
  <div *ngIf="loading" class="mainContainer flex">
    <div class="leftSide alingCenter">

      <app-sprites [name]="name" [id]="pokemon.id" [types]="pokemon.types" [sprites]="pokemon.sprites"></app-sprites>
      <app-stat [stats]="pokemon.stats"></app-stat> 
      
    </div>

    <div class="rightSide alingCenter">
      <div class="pokedexBox">
        <samp class="title">Pokedex</samp>
        <div class="flex alingCenter pokedex pokedexText textBox">
          <p>
            {{pokedex.flavor_text_entries[indexPokedex].flavor_text}}
          </p>
        </div>
      </div>

      <div class="specieBox">
        <samp class="title">Especie</samp>
        <p class="textBox infoBox">{{pokedex.genera[5].genus}}</p>
      </div>

      <div class="bodyMeasurement">
        <samp class="title">Medidas</samp>
        <div class="textBox infoBox">
          <p>Altura: {{pokemon.height/10 | number: '0.1-1'}} M</p>
          <p>Peso: {{pokemon.weight/10 | number: '0.1-1'}} Kg</p>
        </div>
      </div>
      <app-abilities [abilities]="pokemon.abilities"></app-abilities>
    </div>
  </div>
</div>