.stats{
  font-weight: lighter;
  border-radius: 8px;
  box-shadow: -2px 2px rgb(33, 28, 22);
  width: 385px;
  background : radial-gradient(#032d29 0.5px, #282c34 0.1px) 0 0 / 5px 5px;
  padding: 5px 0;
}

.statsRow{
  display: grid;
  grid-template-columns: 70px 45px 320px;
  gap: 10px;
  align-items: center;
}

.statName{
  text-align: right;
  font-size: 10px;
}

.statValue{
  text-align: center;
  font-size: 12px;
}

.bar{
  border-radius: 10px;
  height: 12px;
  background-color: #a0e515;
  border: 1px solid #cfcfcf;
  max-width: 320px;
  min-width: none;
}